.head{
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2%;
}


body{
    background-color: rgb(194, 210, 167);
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2%;
    display: flex; 
    padding-top: 1%;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

.sign{
    background-color: #c2c4ac;
    padding-left: 0;
}

.search-bar{
    padding-left: 820px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
}

.search-bar button[type="submit"] {
    padding: 5px 10px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    cursor: pointer;
}

.head2{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2%;
    color: blue;
}

.list{
    display: flex;
}

.item{
    
        width: 57%;
        height: auto;
      
}

button{
    margin: auto;
}

header {
    background-color: rgb(137, 157, 96); /* Change this to the color you want for the part above the navigation bar */
    padding: 10px;
}


.sell{
    display: flex;
}

.button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.button-list li {
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #888d75;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #bacd40;
}
